{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{{ 'home.'~page|trans }}{% endblock %}

{% block breadcrumb %}
    {% import 'macro/breadcrumb.html.twig' as breadcrumb %}
    {{ breadcrumb.render([
        {
            name: 'home.'~page,
            route: 'legal_page_index',
            params: {'page': page}
        }
    ]) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/legal_page.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="position-relative">
        <div class="bg-legal-page-image w-100"></div>

        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-body p-5">
                            <h2 class="mb-4 text-center">{{ title }}</h2>
                            <div class="mb-5 custom_hr mx-auto"></div>
                            <p>{{ content|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

