{% if page == 'home' %}
<div class="text-right">
    <h2 class="my-5">{{ 'access.easily_accessible'|trans }}</h2>
    <p class="access-icon train">{{ 'access.train'|trans|raw }}</p>
    <p class="access-icon car">{{ 'access.car'|trans }}</p>
    <p class="access-icon parking">{{ 'access.parking'|trans }}</p>
</div>
{% else %}
    <div class="text-center">
        <h2 class="my-5">{{ 'access.easily_accessible'|trans }}</h2>
        <p>{{ 'access.train'|trans|raw }}</p>
        <p>{{ 'access.car'|trans }}</p>
        <p>{{ 'access.parking'|trans }}</p>
    </div>
{% endif %}
