{% extends 'bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block title %}
    {{ parent() }} {{ 'error_page.error'|trans([], null, app.locale)}} {{ status_code }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row min-vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-body p-5">
                        <div class="mb-4">
                            <i class="bi bi-exclamation-triangle-fill text-warning" style="font-size: 3rem;"></i>
                        </div>
                        <h3 class="mb-3 fw-bold alerte-rouge">{{ 'error_page.error_title'|trans }}</h3>
                        <p class="mb-4">{{ 'error_page.error_p'|trans }}</p>
                        <a href="{{ path('home_index') }}" class="btn btn-primary px-4 py-2">{{ 'home.home'|trans([], null, app.locale)|default('Retour à l\'accueil') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
